src/main/resources/parsers/dom/Property.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Property">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="street_address" type="xs:string"/>
                <xs:element name="street_number" type="xs:string"/>
                <xs:element name="apartment_number" type="xs:string"/>
                <xs:element name="owner" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>